@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dosis:wght@200&display=swap');

body{
  margin: 0px;
}

.hero{
  height: 50vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1555400038-63f5ba517a47?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}


h1 {
  background-color: #edffec;  
  font-family: 'Amatic SC', cursive;
  color: #ff7171; 
  font-size: 50px;
}

h2 {
  font-size: 20pt;
  text-align: center;
  color: #ff7171;
  font-family: 'Amatic SC', cursive;
}

h3{
  font-size: 20pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff7171;
}

h4{
  font-size: 20pt;
  text-align: center;
  color: #ff7171;
  font-family: 'Amatic SC', cursive;
}

h5{
  font-size: 20pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff7171;
}

h6{
  font-size: 20pt;
  text-align: center;
  color: #ff7171;
  font-family: 'Amatic SC', cursive;
}

h7{
  font-size: 20pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff7171;
}

h8{
  font-size: 20pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff7171;
}

h9{
  font-size: 20pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff7171;
}

h10{
  font-size: 20pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff7171;
}

h11{
  font-size: 20pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff7171;
}

div {
  margin: 12px;
  font-family: 'Dosis', sans-serif;
  display: flex;
  justifiy-content: flex-end;
  align-items: center;
  margin: 20px;
  padding: 40px;
  background-color: #f9f3f3 ;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10)
}

img{
  height :200px;
  width : 250px;  
}

a {
color : #7868e6 ;
font-family: 'Amatic SC', cursive; 
}

.btn-white{
  color: #ff7171;
  background-color: white;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
  font-weight: 900;
}